@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

:root {
  --default-font: "Montserrat", sans-serif;
  --title-font: "Caveat Brush", cursive;
  --default-text-color: #2e2520;
  --primery-accent-color: #ab816c;
  --secondary-accent-col: #876655;
  --bg-color: #ffffff;
  --black-color: #000000;
  --placeholder-color-text: rgba(171, 129, 108, 0.5);
  --icon-color: #674d40;
}

body {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: var(--default-text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 599.98px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

.button {
  margin: 0;
  border-radius: 25px;
  border: none;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 0.9;
  text-align: center;
  color: var(--bg-color);
  background-color: var(--primery-accent-color);
}

.button:hover, .button:focus {
  background-color: var(--secondary-accent-col);
}

.button__register {
  padding: 12px 47px 12px 46px;
}

.button__send {
  padding: 12px 57px 12px 57px;
}

#more {
  display: none;
}

.contact {
  text-align: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 45px;
}

.contact__span {
  position: absolute;
  top: 40px;
  left: 11px;
  padding-top: 0;
  line-height: 4.06;
}

@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .contact__span {
    left: 91px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.99px) {
  .contact__span {
    left: 181px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__span {
    top: 51px;
    left: 258px;
    font-size: 18px;
    line-height: 3.61;
  }
}

.contact__title {
  font-family: var(--title-font);
  font-size: 24px;
  line-height: 2.71;
  margin-bottom: 35px;
}

@media screen and (min-width: 1280px) {
  .contact__title {
    font-size: 36px;
    line-height: 1.81;
    margin-bottom: 55px;
  }
}

.contact__head {
  position: relative;
}

.contact__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 479.99px) {
  .contact__container {
    width: 280px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .contact__container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.99px) {
  .contact__container {
    width: 626px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__container {
    width: 822px;
  }
}

.contact__input,
.contact__comment {
  font-size: 16px;
  min-width: 265px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid var(--primery-accent-color);
}

@media screen and (min-width: 480px) {
  .contact__input,
  .contact__comment {
    min-width: 380px;
  }
}

@media screen and (min-width: 768px) {
  .contact__input,
  .contact__comment {
    min-width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__input,
  .contact__comment {
    min-width: 430px;
    margin-bottom: 15px;
  }
}

.contact__input::placeholder,
.contact__comment::placeholder {
  color: var(--placeholder-color-text);
}

.contact__comment {
  resize: none;
  height: 27px;
  bottom: 5px;
  overflow: hidden;
  padding-bottom: 20px;
}

.contact__comment::placeholder {
  top: 25px;
}

.footer__icon {
  fill: var --default-text-color;
  margin-left: 9px;
}

.footer__twitter--width {
  width: 19px;
  height: 15px;
}

@media screen and (min-width: 1280px) {
  .footer__twitter--width {
    width: 24px;
    height: 19px;
  }
}

.footer__instagram--width {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 1280px) {
  .footer__instagram--width {
    width: 19px;
    height: 19px;
  }
}

.footer__facebook--width {
  width: 8px;
  height: 15px;
}

@media screen and (min-width: 1280px) {
  .footer__facebook--width {
    width: 10.27px;
    height: 19px;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}

.footer__address {
  margin-bottom: 20px;
}

.footer__address-list {
  display: flex;
  justify-content: space-between;
}

.footer__tel--color {
  color: var(--default-text-color);
}
/*# sourceMappingURL=main.css.map */