@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

:root {
  --default-font: 'Montserrat', sans-serif;
  --title-font: 'Caveat Brush', cursive;
  --default-text-color: #2e2520;
  --primery-accent-color: #ab816c;
  --secondary-accent-col: #876655;
  --bg-color: #ffffff;
  --black-color: #000000;
  --placeholder-color-text: rgba(171, 129, 108, 0.5);
  --icon-color: #674d40;
  --registration_box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bg-color-element: #fef3e4;
}

body {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: var(--default-text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


@media screen and (max-width: 599.98px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 768px;
    padding-left: 67px;
    padding-right: 67px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

.top-bg-images {
  background-image: url(../images/mobile/donut-king.png), url(../images/mobile/bg-donut-king.png);
  background-size: 130px, 100%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .top-bg-images {
    background-image: url(../images/tablet/bg-donut-king.png);
    background-size: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .top-bg-images {
    background-image: url(../images/desktop/bg-donut-king.png);
    background-size: 100%;
  }
}

.bottom-bg-images {
  background-image: url(../images/mobile/flour.png), url(../images/mobile/bg-reviews.png);
  background-position: bottom right, top;
  background-size: 113px, 100%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .bottom-bg-images {
    background-image: url(../images/tablet/flour.png), url(../images/tablet/bg-reviews.png);
    background-position: bottom right, top;
    background-size: 147px, 100%;
  }
}

@media screen and (min-width: 1200px) {
  .bottom-bg-images {
    background-image: url(../images/desktop/flour.png), url(../images/desktop/bg-reviews.png);
    background-position: bottom right, top;
    background-size: 130px, 100%;
  }
}

:root {
  --default-font: 'Montserrat', sans-serif;
  --title-font: 'Caveat Brush', cursive;
  --default-text-color: #2e2520;
  --primery-accent-color: #ab816c;
  --secondary-accent-col: #876655;
  --bg-color: #ffffff;
  --black-color: #000000;
  --placeholder-color-text: rgba(171, 129, 108, 0.5);
  --icon-color: #674d40;
  --registration_box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bg-color-element: #fef3e4;
}

body {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: var(--default-text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 634px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 822px;
  }
}

.button {
  border-radius: 25px;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 0.9;
  text-align: center;
  color: var(--bg-color);
  background-color: var(--primery-accent-color);
  border: 1px solid var(--primery-accent-color);
}

.button:hover, .button:focus {
  background-color: var(--bg-color);
  border: 1px solid var(--primery-accent-color);
  color: var(--default-text-color);
}

.button__register--padding {
  padding: 12px 46px 12px 45px;
  margin-left: auto;
  margin-right: auto;
}

.button__send--padding {
  padding: 12px 56px 12px 56px;
}

.section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--default-text-color);
}

.section__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--default-text-color);
}

#more {
  display: none;
}

.section__button {
  display: block;
  border: none;
  background-color: transparent;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  color: var(--primery-accent-color);
}

.about__text {
  display: block;
  padding-bottom: 25px;
}

.about__img {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199.98px) {
  .navigation {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 33px;
  padding-top: 7px;
}

.mobile-menu__button {
  background-color: transparent;
  margin-left: 67px;
  transition: color var(--animation);
}

.mobile-menu__button:hover, .mobile-menu__button:focus {
  color: var(--secondary-accent-col);
}

.mobile-menu__icon {
  fill: currentColor;
}

.hero__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    text-align: start;
  }
}

.hero__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
}

.hero__subhead {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 37px;
}

.hero__title--wrap {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero__title--wrap {
    justify-content: start;
  }
}

#more {
  display: none;
}

.section__button {
  display: block;
  border: none;
  background-color: transparent;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  color: var(--primery-accent-color);
}

.about__text {
  display: block;
  padding-bottom: 25px;
}

.about__img {
  margin-left: auto;
  margin-right: auto;
}

.program {
  margin-bottom: 25px;
}

.program__text:not(:last-child) {
  margin-bottom: 10px;
}

.program__item:not(:last-child) {
  margin-bottom: 10px;
}

.program__item::before {
  content: ">";
  padding-right: 2px;
}

.program-events {
  margin-top: 50px;
}

.program-events__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.program-events__item {
  position: relative;
  flex-basis: calc((100% - (3px * 2)) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 142px;
  border-radius: 50%;
  background: var(--bg-color-element);
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

.program-events__item:nth-child(2n + 1) {
  margin-right: 6px;
}

.program-events__item:nth-child(n + 2) {
  margin-top: 30px;
}

.program-events__item:last-child {
  margin-top: 50px;
}

.program-events__desc {
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.28;
  color: var(--black-color);
  margin-bottom: 13px;
}

.program-events__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: var(--black-color);
  margin-bottom: 13px;
}

.program-events__img {
  position: absolute;
  top: -34px;
  left: 32px;
}

.program-events__img--position {
  top: -27px;
}

.program-events__img--poz {
  top: -30px;
}

.program__icon {
  margin-bottom: 8px;
}

.reviews__item-name {
  margin: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64;
  text-align: center;
  color: var(--default-text-color);
}

.reviews__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--default-text-color);
}

.reviews__img {
  margin-right: auto;
  margin-left: auto;
}

.registration {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  color: var(--default-text-color);
}

.registration__container {
  display: flex;
  flex-direction: column;
  background: #fffff9;
  box-shadow: var(--registration_box-shadow);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 767.98px) {
  .registration__container {
    flex-direction: row;
    justify-content: center;
    border-radius: 150px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 21px;
    margin-top: 30px;
  }
}

.registration__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-width: 114px;
}

@media screen and (min-width: 767.98px) {
  .registration__list {
    align-items: flex-end;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1199.98px) {
  .registration__list {
    font-size: 20px;
    line-height: 1.2;
  }
}

.registration__item:last-child {
  margin-top: 35px;
}

@media screen and (max-width: 767.98px) {
  .registration__title {
    display: none;
  }
}

@media screen and (min-width: 767.98px) {
  .registration__title--hidden {
    display: none;
  }
}

@media screen and (min-width: 767.98px) {
  .form {
    display: flex;
  }
}

.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 35px;
}

@media screen and (min-width: 767.98px) {
  .form__container {
    width: 234px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.form__container::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--placeholder-color-text);
  margin-bottom: 14px;
}

@media screen and (min-width: 767.98px) {
  .form__container::before {
    position: absolute;
    top: 0;
    left: -30px;
    height: 100%;
    width: 1px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.form__subhead {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 17px;
}

@media screen and (min-width: 767.98px) {
  .form__subhead {
    text-align: start;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1199.98px) {
  .form__subhead {
    font-size: 18px;
    line-height: 1.22;
  }
}

.form__input {
  font-weight: normal;
  font-size: 16px;
  line-height: inherit;
  border: none;
  padding: 0;
  border-bottom: 1px solid #ab816c;
  margin-bottom: 25px;
  outline: none;
}

.form__input:last-child {
  margin-bottom: 0;
}

.form__input::placeholder {
  color: var(--placeholder-color-text);
}

/*вынести в батонн*/
@media screen and (min-width: 767.98px) {
  .button__register--padding {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.contact {
  text-align: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 45px;
}

.contact__span {
  padding-top: 0;
  line-height: 3.06;
}

@media screen and (min-width: 1280px) {
  .contact__span {
    font-size: 18px;
    line-height: 2.61;
  }
}

.contact__title {
  font-family: var(--title-font);
  font-size: 24px;
  line-height: 1.71;
}

@media screen and (min-width: 1280px) {
  .contact__title {
    font-size: 36px;
    line-height: 1.81;
  }
}

.contact__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 479.99px) {
  .contact__container {
    width: 280px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .contact__container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.99px) {
  .contact__container {
    width: 626px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__container {
    width: 822px;
  }
}

.contact__input,
.contact__comment {
  font-size: 16px;
  min-width: 265px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid var(--primery-accent-color);
}

@media screen and (min-width: 480px) {
  .contact__input,
  .contact__comment {
    min-width: 380px;
  }
}

@media screen and (min-width: 768px) {
  .contact__input,
  .contact__comment {
    min-width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__input,
  .contact__comment {
    min-width: 430px;
    margin-bottom: 15px;
  }
}

.contact__input::placeholder {
  color: var(--placeholder-color-text);
}

.contact__comment {
  resize: none;
  height: 27px;
  bottom: 5px;
  overflow: hidden;
  padding-bottom: 20px;
}

.contact__comment::placeholder {
  color: var(--placeholder-color-text);
  top: 25px;
}

.footer__icon {
  fill: var --default-text-color;
  margin-left: 9px;
}

.footer__twitter--width {
  width: 19px;
  height: 15px;
}

@media screen and (min-width: 1280px) {
  .footer__twitter--width {
    width: 24px;
    height: 19px;
  }
}

.footer__instagram--width {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 1280px) {
  .footer__instagram--width {
    width: 19px;
    height: 19px;
  }
}

.footer__facebook--width {
  width: 8px;
  height: 15px;
}

@media screen and (min-width: 1280px) {
  .footer__facebook--width {
    width: 10.27px;
    height: 19px;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}

.footer__address {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__address {
    padding-left: 67px;
    padding-right: 67px;
  }
}

.footer__address-list {
  display: flex;
  justify-content: space-between;
}

.footer__address-icons {
  display: inline-flex;
  fill: var(--default-text-color);
  padding-right: 3px;
}

.footer__tel--color {
  color: var(--default-text-color);
}

.footer__tel--color:hover,
.footer__tel--color:focus,
.footer__map-link:hover,
.footer__map-link:focus,
.footer__tel--color:hover .footer__address-icons,
.footer__tel--color:focus .footer__address-icons,
.footer__map-link:hover .footer__address-icons,
.footer__map-link:focus .footer__address-icons {
  fill: var(--primery-accent-color);
  color: var(--primery-accent-color);
  cursor: pointer;
}

.menu__list {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.menu__item {
  font-family: var(--default-font);
  font-weight: 500;
}

.menu__item:not(:last-child) {
  padding-bottom: 45px;
}

/*.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(254, 243, 228, 0.9);
  backdrop-filter: blur(4px);

  opacity: 1;
}*/
.menu-logo {
  padding-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */