:root {
  --default-font: 'Montserrat', sans-serif;
  --title-font: 'Caveat Brush', cursive;
  --default-text-color: #2e2520;
  --primery-accent-color: #ab816c;
  --secondary-accent-col: #876655;
  --bg-color: #ffffff;
  --black-color: #000000;
  --placeholder-color-text: rgba(171, 129, 108, 0.5);
  --icon-color: #674d40;
}
