<footer class="footer__section">
  <div class="container">
    <div class="social">
      <ul class="social__list social__list--center">
        <li class="social__item">
          <a class="social__icon-link" href="" target="_blank" rel="noopener noreferrer">
            <svg class="social__icon social__twitter--size">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a class="social__icon-link" href="" target="_blank" rel="noopener noreferrer">
            <svg class="social__icon social__instagram--size">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a class="social__icon-link" href="" target="_blank" rel="noopener noreferrer">
            <svg class="social__icon social__facebook--size">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__address">
      <ul class="footer__address-list">
        <li class="footer__tel">
          <a class="footer__tel--color" href="9102228855">
            <svg class="footer__address-icons" width="13" height="13">
              <use href="./images/icons.svg#call"></use>
            </svg>
            (910)222-8855</a
          >
        </li>
        <li class="footer__map">
          <a class="footer__map-link" target="_blank" rel="noopener noreferrer" data-modal-open>
            <svg class="footer__address-icons" width="11" height="14.44">
              <use href="./images/icons.svg#location"></use>
            </svg>
            New York</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
