<header class="header">
  <div class="container header__container">
    <a class="logo" href="./index.html">
      <svg class="logo-icon__size">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <button
      class="mobile-menu__btn mobile-menu__btn--position"
      type="button"
      aria-expanded="false"
      mobile-menu-button
    >
      <svg
        class="mobile-menu__icon"
        aria-label="Переключатель мобильного меню"
        width="30px"
        height="16px"
      >
        <use class="icon_open" href="./images/icons.svg#menu"></use>
        <use class="icon_close" href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#About">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#Program">Program</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#Reviews">Reviews</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#Contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="menu-container" aria-expanded="false" menu-toggle>
  <div>
    <a href="./index.html">
      <svg class="mobile-menu__logo" width="190px" height="85px">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="menu-toggle__list menu">
        <li class="menu-toggle__item">
          <a class="menu-toggle__link" href="#Program" menu-toggle-item
            >Program</a
          >
        </li>
        <li class="menu-toggle__item">
          <a
            class="menu-toggle__link"
            href="#Reviews"
            aria-expanded="false"
            menu-toggle-item
            >Reviews</a
          >
        </li>
        <li class="menu-toggle__item">
          <a
            class="menu-toggle__link"
            href="#About"
            aria-expanded="false"
            menu-toggle-item
            >About us</a
          >
        </li>
        <li class="menu-toggle__item">
          <a
            class="menu-toggle__link"
            href="#Contacts"
            aria-expanded="false"
            menu-toggle-item
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
