<header class="header">
  <div class="container">
    <a href="./index.html" class="logo">
      <svg>
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <button type="button" class="mobile-menu__button" aria-expanded="false" data-menu-button>
      <svg class="mobile-menu__icon" aria-label="Переключатель мобильного меню">
        <use class="icon-menu" href="./images/icons.svg#menu"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#About">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#Program">Program</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#Reviews">Reviews</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#Contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
