<header class="header">
  <div class="container">
    <a href="./index.html" class="logo">
      <svg>
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <button type="button" class="menu-button" aria-expanded="false" data-menu-button>
      <svg class="menu-button" aria-label="Переключатель мобильного меню">
        <use class="icon-menu" href="./images/icons.svg#menu"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="#About us" class="link">About us</a>
        </li>
        <li class="navigation-item">
          <a href="#Program" class="link">Program</a>
        </li>
        <li class="navigation-item">
          <a href="#Reviews" class="link">Reviews</a>
        </li>
        <li class="navigation-item">
          <a href="#Contacts" class="link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
