<section class="hero">
  <div class="container">
    <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
    <span class="text">Hosted by Eva Green</span>
    <button class="button button__register--padding" type="button">Register</button>
    <ul class="social-list">
      <li class="social-list__item">
        <a class="social-list__link" href="">
          <svg class="social-list__icon" width="18.95" height="15">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a class="social-list__link" href="">
          <svg class="social-list__icon" width="15" height="15">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a class="social-list__link" href="">
          <svg class="social-list__icon" width="9" height="15">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
