<div class="container backdrop">
    <button type="button" aria-label="Переключатель мобильного меню"
          aria-expanded="false"
          aria-controls="" data-menu-button>
         <svg>
        <use href=""></use>
        <use href=""></use>
        </svg>
    </button>
    <div data-menu>
      <a href=""></a>
       <nav>
            <ul class="menu__list">
            <li class="menu__item"><a href="#About">About us</a></li>
            <li class="menu__item"><a href="#Program">Program</a></li>
            <li class="menu__item"><a href="#Reviews">Reviews</a></li>
            <li class="meni__item"><a href="#Contacts">Contacts</a></li>
           </ul>
       </nav>
   </div>
</div>