<div class="container backdrop">
    <button type="button" aria-label="Переключатель мобильного меню"
          aria-expanded="false"
          aria-controls="" data-menu-button>
         <svg height="18px" width="18px">
          <use href="./images/icons.svg#close"></use>
        </svg>
    </button>
    <div>
      <a href="" >
          <svg width="190px" height="85px" class="menu-logo">
              <use href="./images/icons.svg#logo"></use>
          </svg>
      </a>
       <nav>
            <ul class="menu__list">
            <li class="menu__item"><a href="#About">About us</a></li>
            <li class="menu__item"><a href="#Program">Program</a></li>
            <li class="menu__item"><a href="#Reviews">Reviews</a></li>
            <li class="meni__item"><a href="#Contacts">Contacts</a></li>
           </ul>
       </nav>
   </div>
</div>