
    <div>
        <button type="button" class="menu__button is-open" 
    aria-label="Переключатель мобильного меню" aria-expanded="false"
        aria-controls="menu-container" data-menu-button>
        <svg>
            <use href="../"></use>
            <use href="../" ></use>
        </svg>
    </button>
    <div  data-menu>
        <nav>
        <ul >
            <li>
              <svg>
                  <use></use>
              </svg>
            </li>
            <li >
                <a href="" >About us</a>
            </li>
            <li>
                <a href="" >Program</a>
            </li>
            <li >
                <a href="" >Reviews</a>
            </li>
            <li >
                <a href="" >Contacts</a>
            </li>
        </ul>
        </nav>
    </div>
</div>

