<!-- section program-->
<section class="program">

  <div class="container container--flex">
    <h2 class="section__title" id="Program">Program</h2>

    <div class="program__element">
      <h2 class="section__title section__title--location section__title--margin">Program</h2>
      <p class="program__text">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
        donut shop!
      </p>
      <ul class="program__list">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
      </ul>
      <span class="program__more" style="display: none;"
        >Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </span>
      <button class="btn__more btn__more--position program__btn-js" id="myBtn" type="button">
        Read more
      </button>
    </div>
    <div class="program-events">
      <ul class="program-events__list">
        <li class="program-events__item">
          <picture>
            <source
              srcset="./images/desktop/donut1.png 1x"
              srcset="./images/desktop/donut1-2x.png 2x"
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="./images/tablet/donut1.png 1x"
              srcset="./images/tablet/donut1-2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="./images/mobile/donut1.png 1x"
              srcset="./images/mobile/donut1-2x.png 2x"
              media="(min-width: 320px)"
              type="image/png"
            />
            <img
              class="program-events__img"
              src="./images/mobile/donut1.png"
              alt="пончик в шоколаде зебра"
            />
          </picture>
          <h3 class="program-events__desc">Type of the event</h3>
          <p class="program-events__text">Cooking classes</p>
          <svg class="program__icon" width="20" height="18">
            <use href="./images/icons.svg#chef-hat"></use>
          </svg>
        </li>
        <li class="program-events__item">
          <picture>
            <source
              srcset="./images/desktop/donut2.png 1x"
              srcset="./images/desktop/donut2-2x.png 2x"
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="./images/tablet/donut2.png 1x"
              srcset="./images/tablet/donut2-2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="./images/mobile/donut2.png 1x"
              srcset="./images/mobile/donut2-2x.png 2x"
              media="(min-width: 320px)"
              type="image/png"
            />
            <img
              class="program-events__img program-events__img--poz"
              src="./images/mobile/donut2.png"
              alt="пончик в белом шоколаде с пасыпкой"
            />
          </picture>
          <h3 class="program-events__desc">Number of guests</h3>
          <p class="program-events__text">1 to 20</p>
          <svg class="program__icon" width="20" height="18">
            <use href="./images/icons.svg#people"></use>
          </svg>
        </li>
        <li class="program-events__item">
          <picture>
            <source
              srcset="./images/desktop/donut3.png 1x"
              srcset="./images/desktop/donut3-2x.png 2x"
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="./images/tablet/donut3.png 1x"
              srcset="./images/tablet/donut3-2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="./images/mobile/donut3.png 1x"
              srcset="./images/mobile/donut3-2x.png 2x"
              media="(min-width: 320px)"
              type="image/png"
            />
            <img
              class="program-events__img"
              src="./images/mobile/donut3.png"
              alt="пончик в белом шоколаде со стружкой"
            />
          </picture>
          <h3 class="program-events__desc">Time of the event</h3>
          <p class="program-events__text">18:30 (2.5 hours)</p>
          <svg class="program__icon" width="20" height="20">
            <use href="./images/icons.svg#clock"></use>
          </svg>
        </li>
        <li class="program-events__item">
          <picture>
            <source
              srcset="./images/desktop/donut4.png 1x"
              srcset="./images/desktop/donut4-2x.png 2x"
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="./images/tablet/donut4.png 1x"
              srcset="./images/tablet/donut4-2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="./images/mobile/donut4.png 1x"
              srcset="./images/mobile/donut4-2x.png 2x"
              media="(min-width: 320px)"
              type="image/png"
            />
            <img
              class="program-events__img program-events__img--position"
              src="./images/mobile/donut4.png"
              alt="пончик в молочном шоколаде"
            />
          </picture>
          <h3 class="program-events__desc">The host speaks</h3>
          <p class="program-events__text">English, French</p>
          <svg class="program__icon" width="25" height="17">
            <use href="./images/icons.svg#chat"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
