<section class="registration">
  <div class="container">
    <h2 class="section__title registration__title">
      Registration
    </h2>
    <div class="registration__container">
      <p class="section__title registration__title--hidden">
        Registration
      </p>
      <ul class="registration__list">
        <li class="registration__item">May 23, 11:00</li>
        <li class="registration__item">New York</li>
        <li class="registration__item">$ 699</li>
      </ul>

      <form class="form" autocomplete="on">
        <div
          class="form__container"
          role="group"
          aria-label="form-registration"
        >
          <h3 class="form__subhead">
            Apply your personal info for registration
          </h3>
          <input
            class="form__input"
            type="text"
            id="name"
            name="name"
            pattern="^[A-Za-zА-Яа-яЁё\s]+$"
            placeholder="Your name"
            title="Will Wornington"
            required
          />

          <input
            class="form__input"
            type="tel"
            id="tel"
            name="phone"
            pattern="^\d{3}-\d{3}-\d{4}$"
            placeholder="Phone number"
            title="Your phone number in the format 123-456-7890"
            required
          />

          <input
            class="form__input"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            title="example@mail.com"
            required
          />
        </div>

        <button
          class="button button__register--padding button__register--size"
          type="submit"
        >
          Register
        </button>
      </form>
    </div>
  </div>
</section>
