<!-- section rerviews -->
<section class="reviews">
  <div class="container"></div>
  <h2 class="title reviews__title">Reviews</h2>
  <ul class="reviews__list">
    <li class="list-people">
      <img src="" alt="" />
      <svg class="">
        <use href=""></use>
      </svg>
      <h4 class="reviews__pretitle">Will</h4>
      <p class="reviews__text">
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen! Thank you so much for the masterclass! Looking forward to
        the next one and highly recommend it to everyone!
      </p>
    </li>
    <li class="list-people">
      <img src="" alt="" />
      <svg class="">
        <use href=""></use>
      </svg>
      <h4 class="reviews__pretitle"></h4>
      <p class="reviews__text"></p>
    </li>
    <li class="list-people">
      <img src="" alt="" />
      <svg class="">
        <use href=""></use>
      </svg>
      <h4 class="reviews__pretitle"></h4>
      <p class="reviews__text"></p>
    </li>
  </ul>
</section>
