.bottom-bg-images {
  background-image: url(../images/mobile/flour.png), url(../images/mobile/bg-reviews.png);

  background-position: bottom right, top;

  background-size: 88px, 100%;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/flour2x.png), url(../images/mobile/bg-reviews2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/donut-registration.png),
      url(../images/tablet/confetti.png), url(../images/tablet/flour.png),
      url(../images/tablet/bg-reviews.png);

    background-position: bottom 48% left, bottom 33% right, bottom right, top;

    background-size: 270px, 260px, 147px, 100%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/donut-registration2x.png),
        url(../images/tablet/confetti2x.png), url(../images/tablet/flour2x.png),
        url(../images/tablet/bg-reviews2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/desktop/donut-registration.png),
      url(../images/desktop/confetti.png), url(../images/desktop/flour.png),
      url(../images/desktop/bg-reviews.png);

    background-position: bottom 50% left 7%, bottom 24% right 1%, bottom right, top;

    background-size: 270px, 604px, 320px, 100%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/donut-registration2x.png),
        url(../images/desktop/confetti2x.png), url(../images/desktop/flour2x.png),
        url(../images/desktop/bg-reviews2x.png);
    }
  }
}
