.bottom-bg-images {
  background-image: url(../images/mobile/flour.png), url(../images/mobile/bg-reviews.png);

  background-position: bottom right, top;

  background-size: 30%, 100%;
  background-repeat: no-repeat;

  @media screen and (min-width: 600px) {
    background-image: url(../images/tablet/bg-reviews.png);
    background-size: 100%;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/desktop/bg-reviews.png);
    background-size: 100%;
  }
}
