.button {
  border-radius: 25px;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 0.9;
  text-align: center;

  color: var(--bg-color);
  background-color: var(--primery-accent-color);
  border: 1px solid var(--primery-accent-color);

  &:hover,
  &:focus {
    background-color: var(--bg-color);
    border: 1px solid var(--primery-accent-color);

    color: var(--default-text-color);
  }

  &__register--padding {
    padding: 12px 46px 12px 45px;
    // margin-left: auto;
    // margin-right: auto;
  }

  &__register--margin {
    margin-bottom: 45px;

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }
  }

  &__send--padding {
    padding: 12px 56px 12px 56px;
  }
}

@media screen and (min-width: 767.98px) {
  .button__register--size {
    margin-top: auto;
    margin-bottom: auto;
  }
}



  .btn__more {
    display: block;
    border: none;
    background-color: transparent;
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 18px;
    line-height: 3.61;
    text-align: center;
    color: var(--primery-accent-color);

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }


.btn__more--position {
  display: block;
  margin-top: 25px;

}
