.section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2.6;
  text-align: center;
  color: var(--default-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.8;
  }
}

.section__title--location {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: start;
  }
}

.section__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--default-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.22;
  }

  &--margin {
    margin-bottom: 20px;
  }
}
