.section__title {
  text-align: center;
  font-family: var(--title-font);
  @include fonts(24px, normal, 2.6);
  color: var(--default-text-color);

  @media screen and (min-width: 767.98px) {
    &--position {
      text-align: initial;
    }
  }

  @media screen and (min-width: 1199.98px) {
    font-size: 36px;
  }
}

.section__text {
  @include fonts(16px, normal, 1.25);
  color: var(--default-text-color);

  @media screen and (min-width: 1199.98px) {
    font-size: 18px;
    line-height: 1.22;
  }

  &--margin {
    margin-bottom: 20px;
  }
}
