.social__icon {
  fill: var(--default-text-color);
  transition: fill var(--animation);
}

.social__item:not(:first-child) {
  margin-left: 10px;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.social__twitter--size {
  width: 18.95px;
  height: 15px;

  @media screen and (min-width: 1200px) {
    width: 24px;
    height: 19px;
  }
}

.social__instagram--size {
  width: 15px;
  height: 15px;

  @media screen and (min-width: 1200px) {
    width: 19px;
    height: 19px;
  }
}

.social__facebook--size {
  width: 9px;
  height: 15px;

  @media screen and (min-width: 1200px) {
    width: 11px;
    height: 19px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  height: 15px;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }

  @media screen and (min-width: 1200px) {
    height: 19px;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;
  height: 15px;

  @media screen and (min-width: 1200px) {
    height: 19px;
  }
}

.social__icon:focus,
.social__icon:hover {
  fill: var(--primery-accent-color);
}
