.social-list {
  display: flex;
  justify-content: center;
  max-height: 15px;

  @media screen and (min-width: 768px) {
    justify-content: start;
    &--center {
      justify-content: center;
    }
  }

  @media screen and (min-width: 1200px) {
    max-height: 19px;
  }
  &__link {
    @include center;
    color: var(--default-text-color);
    transition: color var(--animation);
    &:hover,
    &:focus {
      color: var(--primery-accent-color);
      outline-color: currentColor;
    }
  }
  &__icon {
    fill: currentColor;
  }
}

.social-list__item:not(:first-child) {
  margin-left: 10px;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.social-list__icon--twitter {
  width: 18.95px;
  height: 15px;

  @media screen and (min-width: 1200px) {
    width: 24px;
    height: 19px;
  }
}

.social-list__icon--instagram {
  width: 15px;
  height: 15px;

  @media screen and (min-width: 1200px) {
    width: 19px;
    height: 19px;
  }
}

.social-list__icon--facebook {
  width: 9px;
  height: 15px;

  @media screen and (min-width: 1200px) {
    width: 11px;
    height: 19px;
  }
}
