.top-bg-images {
  // position: relative;
  // overflow: auto;

  background-image: url(../images/mobile/donut-king.png), url(../images/mobile/bg-donut-king.png);

  background-size: 124px, 100%;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/donut-king.png), url(../images/tablet/bg-donut-king.png);

    background-position: top right 36%, top;
    background-size: 378px, 100%;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/desktop/spoon.png), url(../images/desktop/donut-king.png),
      url(../images/desktop/bg-donut-king.png);

    background-position: top 15% left, top right, top;
    background-size: 148px, 723px, 100%;
  }
}
