// section about

.container--flex {
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}

.more {
  display: block;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

// стили для секции about
// требует еще корректировки
.about__img {
  position: absolute;
  top: -5.5%;

  @media screen and (min-width: 480px) {
    left: 19.6%;
    top: -6.2%;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 0;
    left: 71px;
    max-width: 512px;
  }
}

.about__text {
  display: block;
  margin-bottom: 20px;
  // margin-bottom: 25px;
}

.about__element {
  padding-top: 265px;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    width: calc(100% / 2);
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-end;
    width: calc((100% - 40px) / 2);
    margin-left: 76px;

    padding-top: 76px;
  }
}
