#more {
  display: none;
  @media screen and (min-width: 1199.98px) {
    display: block;
  }
}

.about--padding {
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 70px;
  }
}

.about__img {
  display: none;
  position: absolute;

  @media screen and (min-width: 768px) {
    display: block;
    left: -6.5%;
    top: 3%;
  }

  @media screen and (min-width: 1200px) {
    top: -20%;
    left: -16%;
  }
}

.about__text {
  display: block;
  margin-bottom: 20px;

  &--margin {
    margin-bottom: 20px;
  }
}

.container--flex {
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}

.about__element {
  padding-top: 265px;

  @media screen and (min-width: 768px) {
    padding-top: 0;

    width: calc(100% / 2);
  }
}
