.contact {
  text-align: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 45px;

  &__span {
    position: absolute;
    top: 40px;
    left: 11px;
    padding-top: 0;
    line-height: 4.06;

    @media screen and (min-width: 480px) and (max-width: 767.99px) {
      left: 91px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279.99px) {
      left: 181px;
    }

    @media screen and (min-width: 1280px) {
      top: 51px;
      left: 258px;
      font-size: 18px;
      line-height: 3.61;
    }
  }

  &__title {
    font-family: var(--title-font);
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 35px;

    @media screen and (min-width: 1280px) {
      font-size: 36px;
      line-height: 1.81;
      margin-bottom: 55px;
    }
  }
}

.contact__head {
  position: relative;
}

.contact__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 479.99px) {
    width: 280px;
  }

  @media screen and (min-width: 480px) and (max-width: 767.99px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.99px) {
    width: 626px;
  }

  @media screen and (min-width: 1280px) {
    width: 822px;
  }
}

.contact__input,
.contact__comment {
  font-size: 16px;
  min-width: 265px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;

  border: none;
  border-bottom: 1px solid var(--primery-accent-color);

  @media screen and (min-width: 480px) {
    min-width: 380px;
  }

  @media screen and (min-width: 768px) {
    min-width: 410px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 430px;
    margin-bottom: 15px;
  }
}
.contact__input::placeholder,
.contact__comment::placeholder {
  color: var(--placeholder-color-text);
}

.contact__comment {
  resize: none;
  height: 27px;
  bottom: 5px;
  overflow: hidden;
  padding-bottom: 20px;

  &::placeholder {
    top: 25px;
  }
}
