.contact {
  padding-top: 25px;
  padding-bottom: 45px;
  text-align: center;

  @media screen and (min-width: 767.98px) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1198.98px) {
    padding-bottom: 75px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 479.98px) {
      max-width: 440px;
    }

    @media screen and (min-width: 1199.98px) {
      max-width: 460px;
    }
  }
}

.contact__input {
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;

  border: none;
  border-bottom: 1px solid var(--primery-accent-color);

  background-color: transparent;

  &--textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    margin-bottom: 0px;
    min-height: 27px;

    &:focus {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    &::placeholder {
      top: 25px;
    }
  }

  &::placeholder {
    color: var(--placeholder-color-text);
  }

  &:focus {
    outline-color: var(--primery-accent-color);
  }
}
