.footer__section {
  background-image: url(../images/mobile/flour.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 2px;
  margin-left: auto;
  margin-right: auto;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mobile/flour2x.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1279.99px) {
    width: 761px;
    background-image: url(../images/tablet/flour.png);
    background-size: contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/tablet/flour2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1094px;
    background-size: contain;
    background-image: url(../images/desktop/flour.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/desktop/flour2x.png);
    }
  }
}
.footer__icon {
  fill: var (--default-text-color);
  margin-left: 9px;
}

.footer__twitter--width {
  width: 19px;
  height: 15px;

  @media screen and (min-width: 1280px) {
    width: 24px;
    height: 19px;
  }
}

.footer__instagram--width {
  width: 15px;
  height: 15px;

  @media screen and (min-width: 1280px) {
    width: 19px;
    height: 19px;
  }
}

.footer__facebook--width {
  width: 8px;
  height: 15px;

  @media screen and (min-width: 1280px) {
    width: 10.27px;
    height: 19px;
  }
}

.footer__list {
  display: flex;
  justify-content: center;

  margin-bottom: 51px;
}

.footer__address {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 67px;
    padding-right: 67px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
  }
  &-icons {
    display: inline-flex;
    fill: var(--default-text-color);
  }
  &-icons:hover,
  &-icons:focus {
    fill: var(--primery-accent-color);
  }
}
.footer__tel--color {
  color: var(--default-text-color);
}

.footer__tel--color:hover,
.footer__tel--color:focus,
.footer__map-link:hover,
.footer__map-link:focus {
  color: var(--primery-accent-color);
  cursor: pointer;
}
.footer__tel--color:hover footer__address-icons,
.footer__tel--color:focus footer__address-icons,
.footer__map-link:hover footer__address-icons,
.footer__map-link:focus footer__address-icons {
  fill: var(--primery-accent-color);
}
