.footer-address {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  margin-top: 15px;
  @media screen and (min-width: 767.98px) {
    margin-top: 30px;
  }

  &__elem {
    display: block;
    padding: 10px 0px;
    color: inherit;
    outline-color: transparent;
    transition: color var(--animation), outline-color var(--animation);

    &:hover,
    &:focus {
      color: var(--primery-accent-color);
      outline-color: var(--secondary-accent-col);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
