.footer__icon {
  fill: var (--default-text-color);
  margin-left: 9px;
}

.footer__twitter--width {
  width: 19px;
  height: 15px;

  @media screen and (min-width: 1280px) {
    width: 24px;
    height: 19px;
  }
}

.footer__instagram--width {
  width: 15px;
  height: 15px;

  @media screen and (min-width: 1280px) {
    width: 19px;
    height: 19px;
  }
}

.footer__facebook--width {
  width: 8px;
  height: 15px;

  @media screen and (min-width: 1280px) {
    width: 10.27px;
    height: 19px;
  }
}

.footer__list {
  display: flex;
  justify-content: center;

  margin-bottom: 51px;
}

.footer__address {
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 67px;
    padding-right: 67px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
  }
  &-icons {
    display: inline-flex;
    fill: var(--default-text-color);
    padding-right: 3px;
  }
}
.footer__tel--color {
  color: var(--default-text-color);
}
.footer__tel--color:hover,
.footer__tel--color:focus,
.footer__map-link:hover,
.footer__map-link:focus,
.footer__tel--color:hover .footer__address-icons,
.footer__tel--color:focus .footer__address-icons,
.footer__map-link:hover .footer__address-icons,
.footer__map-link:focus .footer__address-icons {
  fill: var(--primery-accent-color);
  color: var(--primery-accent-color);
  cursor: pointer;
}
