.header__container {
  position: relative;
  @include center;
  padding-top: 7px;
  padding-bottom: 7px;

  @media screen and (min-width: 767.98px) {
    padding-top: 27px;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1199.98px) {
    padding-top: 31px;
  }
}

.logo-icon__size {
  width: 96px;
  height: 43px;

  @media screen and (min-width: 1199.98px) {
    width: 158px;
    height: 71px;
  }
}

@media screen and (max-width: 1199.98px) {
  .navigation {
    display: none;
  }
}

.navigation {
  margin-left: 38px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    @include fonts(18px, normal, 1.22);
    border-bottom-color: none;
    padding: 5px 0;
    color: var(--default-text-color);
    transition: color var(--animation), border-bottom-color var(--animation);

    &:hover,
    &:focus {
      color: var(--secondary-accent-col);
      border-bottom-color: var(--primery-accent-color);
      border-bottom-style: solid;
      border-bottom-width: 2px;
    }
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 25px 20px;
  overflow-y: scroll;
  background-color: rgba(254, 243, 228, 0.9);
  background-image: url(../images/mobile/donut-king.png);
  background-size: 100px;
  background-repeat: no-repeat;
  transform: translateX(100%);
  transition: transform var(--animation);

  z-index: 100;

  &.is-open {
    transform: translateX(0);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/donut-king2x.png);
  }
}

.mobile-menu__btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 103;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--secondary-accent-col);
  }
  @media screen and (min-width: 1199.98px) {
    display: none;
  }
}

.mobile-menu__icon {
  fill: currentColor;
}

.icon_close {
  display: none;
  .mobile-menu__btn.is-open & {
    display: block;
  }
}

.icon_open {
  display: block;
  .mobile-menu__btn.is-open & {
    display: none;
  }
}

.mobile-menu__logo {
  margin-bottom: 40px;
}

.menu-toggle__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-toggle__item {
  font-family: var(--default-font);
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.menu-toggle__link {
  border-bottom-color: none;
  padding: 0 0 5px 0;
  color: var(--default-text-color);
  transition: color var(--animation), border-bottom-color var(--animation);

  &:hover,
  &:focus {
    color: var(--secondary-accent-col);
    border-bottom-color: var(--primery-accent-color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
}
