.hero__container {
  position: relative;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 12px;

  @media screen and (min-width: 768px) {
    text-align: start;
    padding-top: 7px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.hero__title {
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 30px;
  line-height: 1.27;

  &--margin {
    margin-bottom: 3px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 64px;
    line-height: 1.02;
  }
}

.hero__subhead {
  font-weight: 500;

  &--margin {
    @media screen and (max-width: 767.98px) {
      margin-bottom: 37px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    line-height: 1.2;
  }
}

.hero__title--wrap {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.hero__img {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: -27.3%;
    right: 11%;
  }

  @media screen and (min-width: 1200px) {
    top: -25.3%;
    right: -25%;
  }
}
