// section program
.program {
  margin-bottom: 25px;
}
.program__text {
  &:not(:last-child) {
    padding-bottom: 10px;
  }
}
// не забыть поставить pading-botton при кпопки less
.program__list {
  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

.div__title {
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.28;
  //   text-align: center;
  color: var(--black-color);
}
.div__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  //   text-align: center;
  color: var(--black-color);
}
